.Button {
  font-family: "Holtwood One SC", serif;
  background-color: #ff7f0e;
  color: #3c1f00;
  border: 0px;
  border-bottom: 3px solid #994800;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1.5%;
  padding-left: 3%;
  padding-right: 3%;
}
.Button:hover {
  background-color: rgb(255, 217, 0);
  color: rgb(58, 58, 58);
}
