@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=EB+Garamond&family=Roboto&family=Vollkorn&display=swap");

.articleHeading1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
}
.articleHeading2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  margin-top: 2rem;
}
.articleHeading3 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-top: 2rem;
}
.articleHeading4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  margin-top: 2rem;
}

.articleContainer {
  padding-left: 20%;
  padding-right: 20%;
  color: rgba(0, 0, 0, 0.84);
}

.titleArea {
  font-family: "Vollkorn", serif;
  text-align: center;
}

.subTitleArea {
  width: 80%;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  color: #555555;
}

.articleIntroImage {
  width: 105vw;
  max-width: 105vw;
  margin-left: -25vw;
}

.articleBody {
  font-family: "Vollkorn", serif;
}

.articleParagraph {
  font-size: 1.3rem;
  font-weight: light;
  min-height: 1rem;
  text-indent: 3rem;
}
.articleIframe {
  width: 105vw;
  max-width: 105vw;
  height: 95vh;
  margin-left: -25vw;
}

.articleImage {
  max-width: 100%;
}

.articleLink {
  font-weight: bold;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.84);
}
.articleLink:hover {
  color: black;
}

@media (orientation: portrait) {
  .articleContainer {
    padding-left: 5%;
    padding-right: 5%;
  }

  .articleIntroImage {
    margin-left: -15vw;
  }

  .articleIframe {
    height: 95vh;
    margin-left: -15vw;
  }
}
