.HeaderBlock {
  background-color: #1c1c1c;
  color: #d9d9d9;
  min-height: 7.5vh;
  width: 100%;
  position: fixed;
  top: 0%;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.Logo {
  display: inline;
  width: 10%;
}

.HeaderNav {
  display: inline;
  font-size: 1rem;
  width: 40%;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.NavEntry {
  cursor: pointer;
}

@media (orientation: portrait) {
  .Logo {
    width:20%;
  }
}
