# Shared Packages
packages/ @dev-launchers/platform-enablement

# Ideaspace code
apps/ideaspace/ @dev-launchers/ideaspace-team

# UserProfile code
apps/user-profile/ @dev-launchers/User-profile

# Recruitment code
apps/dev-recruiters/ @dev-launchers/dev-recruit 

# Website code
apps/website/ @Enjoy2Live @pyxld-kris

# Website code
apps/app/ @Enjoy2Live @pyxld-kris

# Code in the backend directory
strapiv4/ @dev-launchers/Backend-Devs

# Deps
package.json @Enjoy2Live
