apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: platform-website-staging
resources:
  - kservice.yaml
images:
  - name: devlaunchers/platform-website
    newName: devlaunchers/platform-website
    newTag: 'b270652-202602090152' # {"$imagepolicy": "platform-website-staging:platform-website:tag"}
