apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: platform-website-staging
resources:
  - kservice.yaml
images:
  - name: devlaunchers/platform-website
    newName: devlaunchers/platform-website
    newTag: '7958e1b-202512012340' # {"$imagepolicy": "platform-website-staging:platform-website:tag"}
