.formContainer {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #4f4e4e;
  background-image: url("/images/logo-monogram.png");
  background-repeat: repeat;
  background-size: 4rem;
  background-blend-mode: color-burn;
}

.signUpForm {
  width: 50%;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  textalign: center;
  fontsize: 1.5rem;
  color: white;
}

@media (orientation: portrait) and (max-height: 900px) {
  .signUpForm {
    //height: 3550px;
  }
}
