
.ProgramArea {
  display: flex;
  flex-direction:row;
  margin-top: 5%;
}

.ProgramImageArea {
  width: 40%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ProgramImageContainer {
  width: 80%;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ProgramImage {
  width: 80%;
  padding: 5%;
}

.ProgramDescriptionArea {
  width: 60%;
}

@media (orientation: portrait) {
  .ProgramArea {
    flex-direction:row;
    flex-wrap:wrap-reverse;
  }
  .ProgramImageArea {
    width:100%;
  }
  .ProgramDescriptionArea {
    width:100%;
  }
}
