.LandingBodyContent {
  /*margin-top: 45vw;*/
  width:95%;
  background-color: white;
  color: black;
  padding: 2.5%;
  min-height: 40vh;
}

@media (orientation: portrait) {
  .LandingBodyContent {
    width:100%;
    padding: 0%;
  }
}
