.Partners {
  padding-top: 5%;
}

.PartnerList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.PartnerEntry {
  margin: 5%;
  width: 40%;
  display: inline;
}

.PartnerEntryImage {
  margin: 5%;
  width: 40%;
  display: inline;
}

@media (orientation: portrait) {
}
