.Partners {
  padding-top: 5%;
}

.PartnerList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  width: 100%;
}

@media (orientation: portrait) {
}
