.burgerButton {
  position: fixed;
  min-height: 5vh;
  min-width: 5vh;
  right: 1.5vh;
  top: 1.5vh;

  display: none; /* Only display on mobile */
}

.burgerBar {
  background: #d9d9d9;
}

.crossClass {
  background: #d9d9d9;
}

.Logo {
  margin-top: 20%;
  width: 50%;
}
.Logo a {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.LogoWrapper {
  display: inline;
  width: auto;
}
.LogoWrapper:hover {
  filter: brightness(0) saturate(100%) invert(88%) sepia(10%) saturate(6102%)
    hue-rotate(358deg) brightness(101%) contrast(103%);
}
.LogoImageHolder {
  width: 100%;
  margin: 2%;
  margin-bottom: 0;
}
.LogoImage {
  display: inline-block;
  width: 100%;
}
.LogoWords {
  position: absolute;
  bottom: 5%;
  text-align: center;
  width: 100%;
  font-family: "Holtwood One SC", serif;
  font-size: 1.25rem;
  margin-left: 0.25rem;
  line-height: 140%;
}

.navEntry {
  text-align: center;
  width: 100%;
  margin-top: 10%;
}

@media (orientation: portrait) {
  .burgerButton {
    display: block;
  }
}
