.Contribution {
  padding-top: 5%;
  padding-bottom: 5%;
}

.CtaSection {
}

.CtaSection_Title {
  text-align: center;
}

.CtaSection_Content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.CtaSection_Description {
  text-align: center;
  width: 50%;
}

.CtaSection_ButtonArea {
  margin-top: 4%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CtaSection_Button {
}

@media (orientation: portrait) {
}
