.Organization {
}

.CtaSection {
}

.CtaSection_Title {
}

.CtaSection_Content {
  display: flex;
}

.CtaSection_Description {
  width: 50%;
}

.CtaSection_ButtonArea {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CtaSection_Button {
}

@media (orientation: portrait) {
}
