apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: platform-website
bases:
- ../workload
- wordpress.yaml
images:
- name: devlaunchers/platform-website
  newName: devlaunchers/platform-website
  newTag: 2.5.3 # {"$imagepolicy": "platform-website:platform-website:tag"}
