@media (orientation: portrait) {
}

/* Flexbox */
.flex__container {
  /* We first create a flex layout context */
  display: flex;
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  padding: 0;
  margin: 0;
  list-style: none;
}

.side {
  flex: 45%;
  padding: 20px;
}

/* Main column */
.main {
  flex: 45%;
  padding: 20px;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

.list {
  list-style-type: none;
}

.link {
  color: black;
  text-decoration: underline;
}
.LogoImage {
  display: inline-block;
  width: 7%;
  filter: brightness(0);
}

/* TODO: Minor issue where the logo will animate separately from the link */
.LogoImage:hover {
  filter: brightness(0) saturate(100%) invert(88%) sepia(10%) saturate(6102%)
    hue-rotate(358deg) brightness(101%) contrast(103%);
}

li {
  margin-bottom: 5px;
}

.chessImageWrapper {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.chessImage {
  width: 100%;
}
