.entry {
  margin: 1.5%;
  /*border: 2px solid #1c1c1c;*/
  width: 30%;

  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.entryHeading {
  width: 100%;
  font-size: 2rem;
  background-color: #1c1c1c;
}

.entryTitle {
  margin-left: 4%;
}

.entryContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.entryImageHolder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entryImageHolder a {
  width: 100%;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entryImage {
  background-color: lightgray;
  height: 10vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  /* padding-bottom: 42.5%; */
  cursor: pointer;
}

.entryDescription {
  width: 90%;
}
