.entry {
  margin: 1.5%;
  /*border: 2px solid #1c1c1c;*/
  width: 30%;

  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.entryHeading {
  width: 100%;
  font-size: 2rem;
  background-color: #1c1c1c;
}

.entryTitle {
  margin-left: 4%;
}

.entryContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entryImageHolder {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entryImage {
  background-color: lightgray;
  height: 10vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  vertical-align: top;
}

.entryDescription {
  width: 90%;
}

.entryLarge {
  composes: entry;
  width: 90%;
}

.entryContentLarge {
  composes: entryContent;
  flex-direction: row;
  justify-content: space-between;
}
