.connectDiscord {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid black;
}

.discordLogo {
  display: flex;
  justify-content: center;
}

.discordLogo img {
  width: 80%;
}
