.core-theme {
  --colors-black: #000000;
  --colors-white: #ffffff;
  --colors-gray-100: #f7fafc;
  --colors-gray-200: #edf2f7;
  --colors-gray-300: #e2e8f0;
  --colors-gray-400: #cbd5e0;
  --colors-gray-500: #a0aec0;
  --colors-gray-600: #718096;
  --colors-gray-700: #4a5568;
  --colors-gray-800: #2d3748;
  --colors-gray-900: #1a202c;
  --colors-red-100: #fff5f5;
  --colors-red-200: #fed7d7;
  --colors-red-300: #feb2b2;
  --colors-red-400: #fc8181;
  --colors-red-500: #f56565;
  --colors-red-600: #e53e3e;
  --colors-red-700: #c53030;
  --colors-red-800: #9b2c2c;
  --colors-red-900: #742a2a;
  --colors-orange-100: #fffaf0;
  --colors-orange-200: #feebc8;
  --colors-orange-300: #fbd38d;
  --colors-orange-400: #f6ad55;
  --colors-orange-500: #ed8936;
  --colors-orange-600: #dd6b20;
  --colors-orange-700: #c05621;
  --colors-orange-800: #9c4221;
  --colors-orange-900: #7b341e;
  --colors-yellow-100: #fffff0;
  --colors-yellow-200: #fefcbf;
  --colors-yellow-300: #faf089;
  --colors-yellow-400: #f6e05e;
  --colors-yellow-500: #ecc94b;
  --colors-yellow-600: #d69e2e;
  --colors-yellow-700: #b7791f;
  --colors-yellow-800: #975a16;
  --colors-yellow-900: #744210;
  --colors-green-100: #f0fff4;
  --colors-green-200: #c6f6d5;
  --colors-green-300: #9ae6b4;
  --colors-green-400: #68d391;
  --colors-green-500: #48bb78;
  --colors-green-600: #38a169;
  --colors-green-700: #2f855a;
  --colors-green-800: #276749;
  --colors-green-900: #22543d;
  --colors-teal-100: #e6fffa;
  --colors-teal-200: #b2f5ea;
  --colors-teal-300: #81e6d9;
  --colors-teal-400: #4fd1c5;
  --colors-teal-500: #38b2ac;
  --colors-teal-600: #319795;
  --colors-teal-700: #2c7a7b;
  --colors-teal-800: #285e61;
  --colors-teal-900: #234e52;
  --colors-blue-100: #ebf8ff;
  --colors-blue-200: #bee3f8;
  --colors-blue-300: #90cdf4;
  --colors-blue-400: #63b3ed;
  --colors-blue-500: #4299e1;
  --colors-blue-600: #3182ce;
  --colors-blue-700: #2b6cb0;
  --colors-blue-800: #2c5282;
  --colors-blue-900: #2a4365;
  --colors-indigo-100: #ebf4ff;
  --colors-indigo-200: #c3dafe;
  --colors-indigo-300: #a3bffa;
  --colors-indigo-400: #7f9cf5;
  --colors-indigo-500: #667eea;
  --colors-indigo-600: #5a67d8;
  --colors-indigo-700: #4c51bf;
  --colors-indigo-800: #434190;
  --colors-indigo-900: #3c366b;
  --colors-purple-100: #faf5ff;
  --colors-purple-200: #e9d8fd;
  --colors-purple-300: #d6bcfa;
  --colors-purple-400: #b794f4;
  --colors-purple-500: #9f7aea;
  --colors-purple-600: #805ad5;
  --colors-purple-700: #6b46c1;
  --colors-purple-800: #553c9a;
  --colors-purple-900: #44337a;
  --colors-pink-100: #fff5f7;
  --colors-pink-200: #fed7e2;
  --colors-pink-300: #fbb6ce;
  --colors-pink-400: #f687b3;
  --colors-pink-500: #ed64a6;
  --colors-pink-600: #d53f8c;
  --colors-pink-700: #b83280;
  --colors-pink-800: #97266d;
  --colors-pink-900: #702459;
  --line-heights-0: 20;
  --line-heights-1: AUTO;
  --line-heights-2: 16;
  --line-heights-3: 68;
  --line-heights-4: 52;
  --line-heights-5: 28;
  --line-heights-6: 24;
  --line-heights-7: 40;
  --line-heights-8: 48;
  --line-heights-9: 32;
  --line-heights-heading: 110%;
  --line-heights-body: 140%;
  --letter-spacing-0: 0%;
  --letter-spacing-1: 8%;
  --letter-spacing-2: 4%;
  --letter-spacing-3: 0;
  --letter-spacing-4: -2%;
  --letter-spacing-5: 12%;
  --letter-spacing-default: 0;
  --letter-spacing-increased: 150%;
  --letter-spacing-decreased: -5%;
  --paragraph-spacing-0: 0;
  --paragraph-spacing-h1: 32;
  --paragraph-spacing-h2: 26;
  --box-shadow: #7f7e7f;
  --error16: #f03d3e40;
  --success16: #5bb14d40;
  --notification16: #3959ff40;
  --error8: #f03d3e1a;
  --notification8: #3959ff1a;
  --success8: #5bb14d1a;
  --light-overlay: #f0edee66;
  --dark-overlay: #7f7e7f66;
  --black-40: #00000066;
  --black-75: #000000bf;
  --black-60: #00000099;
  --black-50: #00000080;
  --black-25: #00000040;
  --black-10: #0000001a;
  --white-25: #ffffff40;
  --white-60: #ffffff99;
  --black-64: #000000a3;
  --shadow-and-highlight-shadow: #7f7e7f;
  --shadow-and-highlight-highlight: #474747;
  --shadow-and-highlight-highlightone: #474747bf;
  --shadow-and-highlight-highlighttwo: #47474799;
  --shadow-and-highlight-highlightthree: #47474766;
  --shadow-and-highlight-highlightfive: #4747471a;
  --shadow-and-highlight-shadowone: #7f7e7fbf;
  --shadow-and-highlight-shadowtwo: #7f7e7f99;
  --shadow-and-highlight-shadowthree: #7f7e7f66;
  --shadow-and-highlight-shadowfour: #7f7e7f40;
  --shadow-and-highlight-shadowfive: #7f7e7f1a;
  --shadow-and-highlight-highlightfour: #47474740;
  --base-layer-styles-base-layer-light-white: #ffffff;
  --base-layer-styles-base-layer-light-off-white: #f0edee;
  --base-layer-styles-base-layer-dark-off-black: #1c1c1c;
  --base-layer-styles-base-layer-dark-black: #000000;
  --grey-scale-white: #ffffff;
  --grey-scale-off-white: #f0edee;
  --grey-scale-grey: #7f7e7f;
  --grey-scale-charcoal: #474747;
  --grey-scale-off-black: #1c1c1c;
  --grey-scale-black: #000000;
  --blue-blue: #3a7ca5;
  --blue-blue-100: #75a3c0;
  --blue-blue-200: #9cbed2;
  --blue-blue-300: #4f7d9a;
  --blue-blue-400: #5c7d92;
  --blue-blue-500: #347095;
  --blue-blue-600: #295774;
  --blue-blue-700: #173242;
  --light-blue-lightblue: #81c3d7;
  --light-blue-lightblue-100: #a7d5e3;
  --light-blue-lightblue-200: #c0e1eb;
  --light-blue-lightblue-300: #80aebd;
  --light-blue-lightblue-400: #80a0ab;
  --light-blue-lightblue-500: #74afc1;
  --light-blue-lightblue-600: #5a8997;
  --light-blue-lightblue-650: #3e5e65;
  --light-blue-lightblue-700: #344e56;
  --orange-orange: #ff7f0e;
  --orange-orange-100: #ffa556;
  --orange-orange-200: #ffbf86;
  --orange-orange-300: #d97f30;
  --orange-orange-400: #bf7e46;
  --orange-orange-500: #e5720d;
  --orange-orange-600: #b3590a;
  --orange-orange-700: #663306;
  --yellow-yellow: #ffab00;
  --yellow-yellow-100: #ffc44c;
  --yellow-yellow-200: #ffd580;
  --yellow-yellow-300: #d99d26;
  --yellow-yellow-400: #bf943f;
  --yellow-yellow-500: #e59a00;
  --yellow-yellow-600: #b37800;
  --yellow-yellow-700: #664400;
  --notification-notification: #3959ff;
  --notification-notification-100: #748bff;
  --notification-notification-200: #9cacff;
  --notification-notification-300: #4e64d9;
  --notification-notification-400: #5c6cbf;
  --notification-notification-500: #3350e5;
  --notification-notification-600: #283eb3;
  --notification-notification-700: #172466;
  --success-success-700: #24471f;
  --success-success: #5bb14d;
  --success-success-100: #8cc882;
  --success-success-200: #add8a6;
  --success-success-300: #66a25c;
  --success-success-400: #6d9766;
  --success-success-500: #529f45;
  --success-success-600: #407c36;
  --error-error: #f03d3e;
  --error-error-100: #f57778;
  --error-error-200: #f89e9e;
  --error-error-250: #f9c8c8;
  --error-error-300: #ce5151;
  --error-error-400: #b85e5e;
  --error-error-500: #d83738;
  --error-error-600: #a82b2b;
  --error-error-700: #601819;
  --shadow-highlight-sm: 2px 2px 8px 0px #7f7e7f52;
  --shadow-highlight: 2px 2px 8px 0px #7f7e7f7a;
  --shadow-highlight-md: 2px 2px 8px 0px #7f7e7fb8;
  --shadow-highlight-lg: 2px 2px 8px 0px #7f7e7fe0;
  --shadow-highlight-xl: 2px 2px 8px 0px #7f7e7f;
  --shadow-shadow: 0px 4px 6px 3px #3333331a;
  --shadow-shadow-sm: 0px 2px 2px 2px #33333314;
  --shadow-shadow-md: 0px 6px 10px 5px #3333331a;
  --shadow-shadow-lg: 0px 4px 4px 4px #7f7e7f40;
  --shadow-shadow-xl: 0px 10px 18px 10px #7f7e7f40;
  --shadow-shadow-inner: 2px 2px 6px 0px #7f7e7f80;
  --font-families-nunito-sans: Nunito Sans;
  --font-families-abel: Abel;
  --font-weights-nunito-sans-0: Regular;
  --font-weights-abel-1: Regular;
  --font-weights-nunito-sans-2: Light Italic;
  --font-weights-nunito-sans-3: SemiBold;
  --font-weights-nunito-sans-4: Light;
  --x-small-typecase: [object Object];
  --subtitle: [object Object];
  --product-name: [object Object];
  --dropdown-text: [object Object];
  --link-m: [object Object];
  --link-disabled: [object Object];
  --link-m-disabled: [object Object];
  --link-focus: [object Object];
  --link-m-focus: [object Object];
  --link: [object Object];
  --link-visited: [object Object];
  --link-hover: [object Object];
  --link-active: [object Object];
  --link-m-visited: [object Object];
  --link-m-hover: [object Object];
  --link-m-active: [object Object];
  --display-lg: [object Object];
  --display-sm: [object Object];
  --logo-text: [object Object];
  --nav-items: [object Object];
  --tool-tip: [object Object];
  --x-small: [object Object];
  --h1: [object Object];
  --h2: [object Object];
  --h3: [object Object];
  --h4: [object Object];
  --h5: [object Object];
  --p-l-d: [object Object];
  --p-d-d: [object Object];
  --p-s-d: [object Object];
  --placeholder: [object Object];
  --button: [object Object];
  --label: [object Object];
  --h1-m: [object Object];
  --h2-m: [object Object];
  --h3-m: [object Object];
  --h4-m: [object Object];
  --h5-m: [object Object];
  --p-l-m: [object Object];
  --p-d-m: [object Object];
  --p-s-m: [object Object];
  --label-m: [object Object];
  --button-m: [object Object];
  --placeholder-m: [object Object];
  --text-case-normal-case: none;
  --text-case-uppercase: uppercase;
  --text-case-capitalize: capitalize;
  --text-case-lowercase: lowercase;
  --text-decoration-none: none;
  --text-decoration-underline: underline;
  --rounded-sm: 0.25rem;
  --rounded: 0.5rem;
  --rounded-md: 1rem;
  --rounded-lg: 1.5rem;
  --rounded-xl: 2rem;
  --rounded-2xl: 3rem;
  --rounded-3xl: 4rem;
  --rounded-4xl: 6rem;
  --padding-p-1: 0.25rem;
  --padding-p-2: 0.5rem;
  --padding-p-4: 1rem;
  --padding-p-6: 1.5rem;
  --padding-p-8: 2rem;
  --padding-p-12: 3rem;
  --padding-p-16: 4rem;
  --padding-p-24: 6rem;
  --padding-p-32: 8rem;
  --rem: 16;
  --font-size-0: 0.75rem;
  --font-size-1: 0.875rem;
  --font-size-2: 1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 1.625rem;
  --font-size-6: 1.75rem;
  --font-size-7: 2rem;
  --font-size-8: 2.25rem;
  --font-size-9: 2.5rem;
  --font-size-10: 2.75rem;
  --font-size-11: 3rem;
  --font-size-12: 4rem;
}