.wrapper {
  margin-top: 2rem;
  text-align: center;
}

.carouselHolder {
  width: 100%;
  height: 20vh;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: black;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.carouselBlock {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //border: 1px solid black;
}

.carouselBlockHeader {
  margin: 1%;
  font-size: 1.5rem;
  font-weight: bold;
}

.carouselArrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inLabelDiv {
  margin: 0;
  font-size: 1rem;
}

@media (orientation: portrait) {
  .carouselHolder {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 60vh;
    flex-direction: column;
    align-items: center;
  }
  .carouselBlock {
    width: 90%;
    margin: 2.5%;
    padding: 2.5%;
    border-bottom: 1px solid black;
  }
  .carouselArrow {
    display: none;
  }
}
