/* <MODAL> */
.modalBody {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margintop: 2%;
    margin-bottom: 2;
}

.prerequisiteSkillCard {
    background-color: yellow;
    font-color: red;
    font-size: 1rem;
    width: 90%;
    padding: 1%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.modalInfoCard {
    width: 40%;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 2%;
    padding-top: 0%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.listEntry {
    margin-bottom: 4%;
}
/* </MODAL> */

@media (orientation: portrait) {
    /* <MODAL> */
    .modalBody {
        flex-direction: column;
    }
    .modalInfoCard {
        width: 80%;
        margin: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    /* </MODAL> */
}
