.attachmentLink {
  color: lightslategray;
  font-size: medium;
  margin: 0.2em;
}

.attachmentLinkContainer {
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.attachmentImg {
  width: 5vh;
  height: 5vh;
  cursor: pointer;
}

.attachmentImgContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
