.ReactModal__Content {
  opacity: 0;
  transition: 0.2s all cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transform: scale(0);
  transform-origin: bottom right;
}
.ReactModal__Overlay--after-open .ReactModal__Content {
  opacity: 1;
  transform: scale(1);
}
.ReactModal__Overlay--before-close .ReactModal__Content {
  opacity: 0;
  transform: scale(0);
}

.ReactModal__Content {
  background-image: url(./modal-img.png) !important;
  background-repeat: no-repeat !important;
  background-position: bottom center !important;
  transition: 0.4s all ease-in-out;
  transform: translateX(200%);
}
.ReactModal__Overlay--after-open .ReactModal__Content {
  transform: translateX(0);
}
.ReactModal__Overlay--before-close .ReactModal__Content {
  transform: translateX(200%);
}

.form-link {
  background: white;
  padding: 0.5rem 1rem;
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 2rem 0 1rem;
  box-shadow: 0px 10px 10px rgba(127, 126, 127, 0.25);
  border-radius: 8px;
}

.remind,
.remind:hover,
.remind:active {
  border: none;
  background-color: white;
  text-decoration: underline;
  color: #295774;
  cursor: pointer;
}

.open-button {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border: none;
  background: #ff7f0e;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.open-button::before {
  content: '';
  height: 4rem;
  width: 4rem;
  top: 0;
  left: 0;
  border-radius: 50%;
  position: absolute;
  background: #ff7f0e;
  transform-origin: center center;
  animation: 5s linear infinite expand;
  z-index: -1;
}

@keyframes expand {
  75% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.close-button {
  font-weight: 900;
  background: #f5f5f5;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.title {
  font-family: 'Nunito Sans';
  font-size: 1.8rem;
}

small {
  font-size: 0.95rem !important;
}
