.contentArea {
  display: flex;
  margin-bottom: 4rem;
}

.studentImageWrapper {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.studentImage {
  width: 90%;
}

.ctaWrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ctaText {
  width: 70%;
  margin: auto;
}

.ctaButtonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.statusNote {
  width: 50%;
  text-align: center;
  font-size: 1rem;
  color: black;
  margin-top: 1%;
}
