.headerDark {
  background-color: #333333;
  background-color: #3a424f;
  color: white;
  margin-top: 0%;
  padding: 3%;

  /*background-color: rgb(220, 220, 220);*/
  /*margin-top: 2%;*/
  background-image: url("../../../../images/members/photos/adults-coding.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-blend-mode: overlay;
}

.headerLight {
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;

  background-color: rgb(255, 255, 255);
  /*background-color: rgb(220, 220, 220);*/
  /*margin-top: 2%;*/
  /*background-image: url("../../../../images/members/photos/adults-coding.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-blend-mode: overlay;
}
