.headerDark {
  background-color: #333333;
  background-color: #3a424f;
  color: white;
  margin-top: 0%;
  padding: 3%;

  /*background-color: rgb(220, 220, 220);*/
  /*margin-top: 2%;*/
  background-image: url("../../../../images/members/photos/adults-coding.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-blend-mode: overlay;
}

.headerLight {
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;

  background-color: rgb(255, 255, 255);
  /*background-color: rgb(220, 220, 220);*/
  /*margin-top: 2%;*/
  /*background-image: url("../../../../images/members/photos/adults-coding.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-blend-mode: overlay;
}

.descriptionArea {
  margin-top: 5%;
  margin-bottom: 7.5%;
}

.descriptionTimeslotArea {
  width: 70%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  justify-content: space-around;
}

.descriptionTimeslotBox {
  width: 45%;
  border: 5px solid black;
  padding: 1%;
}

@media (orientation: portrait) {
  .descriptionTimeslotArea {
    width: 100%;
    flex-direction: column;
  }
  .descriptionTimeslotBox {
    width: 90%;
    margin: 5%;
  }
}
