@import url("https://fonts.googleapis.com/css?family=Holtwood+One+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");

.App {
  font-family: sans-serif;
  font-family: "Abel", sans-serif;
  text-align: left;
}

a {
  color: #d9d9d9;
  text-decoration: none;
}
a:hover {
  color: rgb(255, 217, 0);
}

h1 {
  font-family: "Holtwood One SC", serif;
  line-height: 1em;
}

h2 {
  font-family: "Holtwood One SC", serif;
}

.toast-container {
}
.toast {
  background-color: white;
  color: #1c1c1c;
}
.toast-progress {
  background: black !important;
}

/* collections default to small-cards for entry elements */
.collection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.entry {
  margin: 1.5%;
  /*border: 2px solid #1c1c1c;*/
  width: 30%;

  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.collection--small-cards > .entry {
  /* Allows us to control card size with just the collection element's class */
  width: 30%;
}
.collection--large-cards > .entry {
  /* Allows us to control card size with just the collection element's class */
  width: 90%;
}

.entry-heading {
  width: 100%;
  font-size: 2rem;
  background-color: #1c1c1c;
}
.entry-title {
  margin-left: 4%;
}
.entry-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.entry-image-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.entry-image-holder a {
  width: 100%;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.entry-image {
  background-color: lightgray;
  height: 10vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  /* padding-bottom: 42.5%; */
  cursor: pointer;
}
.entry-description {
  width: 90%;
}

/* Special collection--large-cards overrides */
.collection--large-cards > .entry > .entry-content {
  flex-direction: row;
  justify-content: space-between;
}
.collection--large-cards > .entry > .entry-content > .entry-image-holder {
  width: 30%;
  height: 100%;
}
.collection--large-cards > .entry > .entry-content > .entry-description {
  width: 70%;
}

.entry-image-holder a div {
  /* temp to push image placeholders down */
  padding-right: 15vw;
  background-color: lightgray;
}

@media (orientation: portrait) {
  html {
    /* Scale all font down */
    font-size: 75%;
  }

  .App {
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .collection--small-cards > .entry {
    width: 100%;
  }
  .entry-image {
    height: 20vw;
  }
}
