@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=EB+Garamond&family=Roboto&family=Vollkorn&display=swap");
@import url("https://fonts.googleapis.com/css?family=Holtwood+One+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");

.pageContainer {
  padding-left: 5%;
  padding-right: 5%;
  color: rgba(0, 0, 0, 0.84);
}

.introArea {
  position: relative;
  width: 100vw;
  max-width: 100vw;
  min-height: 50vh;
  margin-left: -10vw;

  background-color: rgb(50, 50, 50);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.introImage {
  width: 100vw;
  max-width: 100vw;
}

.titleArea {
  position: absolute;
  bottom: 10vh;
  left: 5vw;

  font-family: "Holtwood One SC", serif;
  text-align: left;
  color: white;
  text-shadow: 0.5vw 0.5vw black;
}

.pageBody {
  /*font-family: "Vollkorn", serif;*/
  font-family: sans-serif;
  font-family: "Abel", sans-serif;
}

.pageHeading1 {
  font-family: "Holtwood One SC", serif;
  font-size: 5rem;
}
.pageHeading2 {
  font-family: "Holtwood One SC", serif;
  font-size: 2.5rem;
  margin-top: 2rem;
}
.pageHeading3 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-top: 2rem;
}
.pageHeading4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  margin-top: 2rem;
}

.pageParagraph {
  font-size: 1.5rem;
  font-weight: light;
  min-height: 1rem;
  //text-indent: 3rem;
}
.pageIframe {
  width: 100%;
  max-width: 100%;
  /*height: 95vh;*/
  /*margin-left: 0vw;*/
}
.pageIframe iframe {
  width: 100%;
}

.pageImage {
  max-width: 100%;
}

.pageLink {
  font-weight: bold;
  text-decoration: underline;
  /*color: rgba(0, 0, 0, 0.84);*/
  color: #0000ee;
}
.pageLink:hover {
  color: black;
}

@media (orientation: portrait) {
  .pageContainer {
    padding-left: 5%;
    padding-right: 5%;
  }

  .pageIntroImage {
    margin-left: -15vw;
  }

  .pageHeading1 {
    font-size: 3rem;
  }

  .pageIframe {
    /*height: 95vh;*/
    /*margin-left: 0vw;*/
  }
}
