.container {
  margin: 1.5%;
  width: 22%;
  border-radius: 2px;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
  display: flex;
  flex-direction: column;
}

.attachment {
  float: right;
  margin-top: 0.15em;
  margin-right: 0.5em;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageHolder {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding-top: 2px;
  padding-bottom: 2px;
}
.imageHolder a {
  display: flex;
}

.imageHolderLarge {
  composes: imageHolder;
  width: 50%;
}

.dataHolder {
}

.dataHolderLarge {
  width: 70%;
  padding: 6.75%;
}

.image {
  background-color: lightgray;
  max-width: 100%;
  max-height: 25vh;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
  cursor: pointer;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid black;
}

.description {
  width: 100%;
  font-size: 1.2rem;
}

.containerLarge {
  composes: container;
  width: 90%;
}

.contentLarge {
  composes: content;
  flex-direction: row;
  justify-content: space-between;
}

.attachments {
  margin-top: auto;
}

@media (orientation: portrait) {
  .container {
    width: 90%;
    margin-bottom: 5%;
  }
}
