.container {
  margin: 1.5%;
  width: 30%;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.heading {
  width: 100%;
  font-size: 2rem;
  background-color: #1c1c1c;
}

.attachment {
  float: right;
  margin-top: 0.15em;
  margin-right: 0.5em;
}

.title {
  margin-left: 4%;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageHolder {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  background-color: lightgray;
  height: 10vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  vertical-align: top;
}

.description {
  width: 90%;
}

.containerLarge {
  composes: container;
  width: 90%;
}

.contentLarge {
  composes: content;
  flex-direction: row;
  justify-content: space-between;
}

.attachmentImage {
  float: right;
  width: 10%;
  height: 10%;
}
