.building {
  background-color: #aaa;
  width: 80vw;
  height: 50vw;
  max-height: 70vh;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  display: flex;
  text-align: center;
  cursor: pointer;
  border: 2px solid black;
  font-weight: bold;
}

.mainRoom {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.extraRoomsHolder {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.roomRow {
  width: 100%;
  height: 42%;
  background-color: yellow;
  display: flex;
}

.sideRoom {
  width: 25%;
  height: 100%;
  background-color: #ccc;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room {
  display: flex;
  flex-direction: column;
  align-items: space-around;
}
.room:hover {
  background-color: #ddd;
}

.colorMarker {
  width: 50%;
  height: 5px;
}
