.entry {
  composes: entry from "../EntryCard/EntryCard.module.css";
  width: 90%;
}

.entryHeading {
  composes: entryHeading from "../EntryCard/EntryCard.module.css";
}

.entryTitle {
  composes: entryTitle from "../EntryCard/EntryCard.module.css";
}

.entryContent {
  composes: entryContent from "../EntryCard/EntryCard.module.css";
  flex-direction: row;
  justify-content: space-between;
}

.entryImageHolder {
  composes: entryImageHolder from "../EntryCard/EntryCard.module.css";
  width: 30%;
  height: 100%;
  margin-top: 0%;
}

.entryImage {
  composes: entryImage from "../EntryCard/EntryCard.module.css";
  /* temp to push image placeholders down */
  padding-right: 15vw;
  margin-bottom: 7%;
  margin-top: 7%;
}

.entryDescription {
  composes: entryDescription from "../EntryCard/EntryCard.module.css";
  width: 70%;
}

.entryGithubLink {
  display: block;
  float: right;
  font-size: 0.85rem;
  margin-right: 1%;
  margin-top: 1%;
}
