name: CI
on: 
  push:
    branches: "development/design-team"
    paths: 
      - "packages/tailwind-constructor/tokens.json"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.4.0
      # Install dependencies
      - run: yarn
      # Transform Figma Tokens JSON to something Style Dictionary can read, run Style Dictionary and later run Tailwind
      - run: yarn workspace @devlaunchers/tailwind build
      # Add files that were created during a run, e.g. created files from style dictionary or token-transformer.
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update Tokens
